.btn {
  padding: 8px;
  /* margin: 20% 0% 20% 20%; */
  background-color: aliceblue;
  border: 1px solid blueviolet;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.btn:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
  text-decoration: underline;
}

.btn:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext {
  visibility: hidden;
}

.tooltiptext {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 150px;
}

.tooltiptext.left {
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltiptext.right {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltiptext.bottom {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext.top {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -80px;
}

/* .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
} */